*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;   
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 2px solid rgb(200, 200, 200);
}

.logo{
    color: rgb(223, 0, 0);
}

.logo h2{
    font-weight: normal;
    font-size: 20px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: rgb(109, 111, 255);
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: rgb(255, 49, 49);
}

.menu .btn-menu{
    background-color: rgb(5, 122, 255);
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
}

.menu .btn-menu:hover{
    background-color: rgb(0, 96, 206);
    color: white;
}

/*
seleção principal
*/

section.main{
    background-image: url('img/17580.jpg');
    padding: 100px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-cta{
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

.main-cta h2{
    color: #16507b;
    font-size: 40px;
}

.main-cta p{
    color: gray;
    font-size: 20px;
    margin: 10px 0px;
}

.main-cta button{
    background-color: rgb(5, 122, 255);
    display: inline-block;
    padding: 8px 29px;
    color: white;
    border-radius: 5px;
    border: 0px;
    font-size: 19px;
    cursor: pointer;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 23%;
    margin-right: 2%;
    padding: 45px 20px;
}

.diferencial-single h2{
    color: #16507b;
    margin: 10px 0px;
    font-size: 25px;
}

.diferencial-single p{
    color: gray;
    font-size: 15px;
    line-height: 30px;
}

section.Sobre-dragonforce{
    padding: 40px 0px;
}

.sobre-dragonforce-img{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.sobre-dragonforce-img img{max-width: 100%;}


.sobre-dragonforce-content{
    width: 50%;
    padding: 0px 50px;
}

.sobre-dragonforce-content h2{
    color: #16507b;
    margin-bottom: 20px;
}

.sobre-dragonforce-content p{
    color: gray;
    font-size: 16px;
    margin-bottom: 14px;
}

@media screen and (max-width: 768px){
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .menu{
        display: none;
    }
    .logo{
        width: 20%;
    }
    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }
    .menu-mobile i{
        cursor: pointer;
        font-size: 25px;
        margin-top: 9px;

    }
}

section.conquista{
    display: flex;
    flex-wrap: wrap;
    background-color: #f8fbfe;
    padding: 20px 0px;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquista-single img{
    max-width: 100%;
}

.conquista-single img{
    filter:grayscale(100%);
    transform-box: 1.1;
    transition: 1s;
}

.conquista-single img:hover{
    transform-box: 1.1,1.1;
    filter:grayscale(0);
}